// Colors

$primary-colour: #48bb78;

$button-green: #3ea167;
$button-red: #b02727;
$button-blue: #3a77ff;

// Transitions
.fade-enter-active, .fade-leave-active {
    transition: all 0.4s ease-in;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-enter-to {
    opacity: 1;
}